<div class="container" style="margin-left: 5%;margin-top:25px">
    <div class="text-left" style="float:left;width:50%">
      <h3>About</h3>
      Frontend: Angular, Bootstrap (HTML, CSS, Javascript, Typescript)<br/>   
      <li>Deployed on Github pages</li>
      Backend: Spring Boot (Java, embedded Tomcat server), MySQL database<br/>
      <li>Deployed on my desktop at home</li>
      <li>SSL certificate provided by LetsEncrypt</li>
      <li>domain provided by FreeDomain.one</li>
    </div>
    <div class="text-left" style="float:left;margin-left:20px;width:40%;height:200px;overflow-y:auto;">
      <h3>News</h3>
      <li>2024-05-20: used win-acme to request LetsEncrypt SSL cert, added to backend.</li>
      <li>2024-05-18: reserved domain initial-b.work.gd for backend REST API</li>
    </div>
  </div>
  <div style="clear:both;margin-bottom: 50px;"></div>

<h2>Employee List</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email Id</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let employee of employees">
            <td>{{employee.firstName}}</td>
            <td>{{employee.lastName}}</td>
            <td>{{employee.emailId}}</td>
            <td>
                <button (click) = "updateEmployee(employee.id)" 
                    class="btn btn-info">
                    Update
                </button>
                <button (click) = "deleteEmployee(employee.id)"
                    class="btn btn-danger" style="margin-left:10px;">
                    Delete
                </button>
                <button (click) = "viewEmployee(employee.id)"
                class="btn btn-info" style="margin-left:10px;">
                    View
                </button>
            </td>
        </tr>
    </tbody>
</table>