<nav class="navbar navbar-expand-sm navbar-light" style="background-color: #ad9565">
  <ul class="navbar-nav">
      <li class="nav-item">
          <a routerLink="employees" routerLinkActive="active" class="nav-link">Employee List</a>
      </li>
      <li>
          <a routerLink="create-employee" routerLinkActive="active" class="nav-link">Add Employee</a>
      </li>
  </ul>
</nav>
<h1 class="text-center">{{title}}</h1>
<div class="container" style="margin-left: 100px;margin-top:25px">
  <div class="text-left" style="float:left;width:500px">
    <h3>About</h3>
    Frontend: Angular, Bootstrap (HTML, CSS, Javascript, Typescript)<br/>   
    <li>Deployed on Github pages</li>
    Backend: Spring Boot (Java, embedded Tomcat server), MySQL database<br/>
    <li>Deployed on my desktop at home</li>
    <li>SSL certificate provided by LetsEncrypt</li>
    <li>backend domain provided by FreeDomain.one</li>
  </div>
  <div class="text-left" style="float:left;width:350;height:200px;overflow-y:scroll">
    <h3>News</h3>
    <li>2024-05-20: used win-acme to request LetsEncrypt SSL cert, added to backend</li>
    <li>2024-05-18: reserved domain initial-b.work.gd for backend REST API</li>
  </div>
</div>
<div style="clear:both;margin-bottom: 50px;"></div>
<div class="container">
  <router-outlet />
</div>
<footer class="footer">
  <div class="container">
      <span>All Rights Reserved 2024 &#64;Brady Whytock</span>
  </div>

</footer>